fastapi==0.116.1
Jinja2==3.1.6
pillow==11.3.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
qrcode==8.2
SQLAlchemy==2.0.43
uvicorn==0.35.0
python-multipart==0.0.20
pandas==2.3.2
openpyxl==3.1.5
numpy==2.3.2
pytz==2025.2